#
# APPLICATION
#
APP_NAME=express-typescript-boilerplate
APP_SCHEMA=http
APP_HOST=localhost
APP_PORT=3000
APP_ROUTE_PREFIX=/api
APP_BANNER=true

#
# LOGGING
#
LOG_LEVEL=debug
LOG_OUTPUT=dev

#
# PostgreSQL DATABASE
#
SEQUELIZE_CONNECTION=postgres
SEQUELIZE_HOST=localhost
SEQUELIZE_PORT=5432
SEQUELIZE_USERNAME=username
SEQUELIZE_PASSWORD=
SEQUELIZE_DATABASE=my_database

#
# MySQL DATABASE
#
#SEQUELIZE_CONNECTION=mysql
#SEQUELIZE_HOST=localhost
#SEQUELIZE_PORT=5432
#SEQUELIZE_USERNAME=username
#SEQUELIZE_PASSWORD=
#SEQUELIZE_DATABASE=my_database

#
# PATH STRUCTRUE
#
SEQUELIZE_MIGRATIONS=database/migrations/**/*.ts
SEQUELIZE_MIGRATIONS_DIR=database/migrations
SEQUELIZE_ENTITIES=app/models/**/*.ts
SEQUELIZE_ENTITIES_DIR=app/models
CONTROLLERS=app/http/controllers/**/*Controller.ts
MIDDLEWARES=app/http/middlewares/**/*Middleware.ts
SUBSCRIBERS=app/http/subscribers/**/*Subscriber.ts
#RESOLVERS=src/api/resolvers/**/*Resolver.ts

#
# Mailer
#
MAIL_MAILER=console
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SECURE=false
MAIL_FOLDER=mails
MAIL_VIEWS=views/mailer
MAIL_VIEWS_EXT=.tpl

#
# Swagger
#
#SWAGGER_ENABLED=true
#SWAGGER_ROUTE=/swagger
#SWAGGER_FILE=api/swagger.json
#SWAGGER_USERNAME=admin
#SWAGGER_PASSWORD=1234

#
# Status Monitor
#
#MONITOR_ENABLED=true
#MONITOR_ROUTE=/monitor
#MONITOR_USERNAME=admin
#MONITOR_PASSWORD=1234
